.footer {
    background: #111;
    color: #fff;
    height: 600px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer.footer-home {
    position: relative;
    top: 100vh;
}

.footer h4 {
    margin: 0;
    font-size: 30px;
    padding: 40px 30px;
}

.footer .li > ul > .li {
    margin-top: 12px;
}

.footer .h-ul {
    align-items: unset;
}

.footer p {
    margin-top: 120px;
    font-size: 24px;
}

.footer.footer.footer-default {
    position: absolute;
    bottom: 0vh;
    height: 500px;
}

@media only screen and (max-width: 650px) {
    .footer .h-ul {
        flex-direction: column;
        padding-left: 80px;
    }

    .footer .li {
        margin-top: 16px;
    }
    
    .footer p {
        margin-top: 60px;
        padding-bottom: 12px;
    }

    .footer.footer.footer-default {
        min-height: 900px;
        bottom: -50vh;
    }
}