.info {
    background: #fff;
    width: 90%;
    height: 300px;
    margin: 30px auto;
    padding: 60px 30px;
    border-radius: 30px;
}

.info h3 {
    font-size: 24px;
}

.info p {
    font-size: 18px;
    width: 50%;
    line-height: 1.6em;
}

.info img {
    position: absolute;
    top: 50%;
    right: 90px;
    height: 200px;
    width: 200px;
    transform: translateY(-30%);
}

@media only screen and (max-width: 645px) {
    .info {
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
        width: 100%;
    }

    .info h3 {
        font-size: 22px;
    }

    .info p {
        font-size: 16px;
    }

    .info img {
        position: static;
        transform: none;
        margin: 20px;
        height: 150px;
        width: 150px;
    }
}